In [1]:
import pandas as pd
fileload=pd.read_csv('p_data.csv')
print(fileload.index)

RangeIndex(start=0, stop=2175, step=1)

In [2]:
fileload['Range']=''
fileload['Range %']=""
fileload['0.618']=""
fileload['1.618']=""
fileload['Buy Level']=""
fileload['Sell Level']=""
fileload['Buy SL']=""
fileload['Sell SL']=""
fileload['Buy Target']=""
fileload['Sell Target']=""
fileload['Buy Signal']=""
fileload['Sell Signal']=""
fileload['Hit Signal Buy']=""
fileload['Hit Signal Sell']=""
fileload.columns

Index(['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Range',
       'Range %', '0.618', '1.618', 'Buy Level', 'Sell Level', 'Buy SL',
       'Sell SL', 'Buy Target', 'Sell Target', 'Buy Signal', 'Sell Signal',
       'Hit Signal Buy', 'Hit Signal Sell'],
      dtype='object')

In [3]:
fileload

,Date,Time,Open,High,Low,Close,Volume,Range,Range %,0.618,...,Buy Level,Sell Level,Buy SL,Sell SL,Buy Target,Sell Target,Buy Signal,Sell Signal,Hit Signal Buy,Hit Signal Sell
0,3/31/2023,9:15:00,17271.00,17349.90,17271.00,17342.75,16196,,,,...,,,,,,,,,,
1,3/31/2023,9:20:00,17341.00,17368.30,17340.00,17364.15,8413,,,,...,,,,,,,,,,
2,3/31/2023,9:25:00,17362.30,17369.95,17350.20,17363.70,5461,,,,...,,,,,,,,,,
3,3/31/2023,9:30:00,17365.00,17375.00,17348.00,17348.30,5753,,,,...,,,,,,,,,,
4,3/31/2023,9:35:00,17349.65,17362.00,17348.65,17359.55,2436,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2170,5/16/2023,15:05:00,18344.00,18344.40,18330.80,18332.00,3005,,,,...,,,,,,,,,,
2171,5/16/2023,15:10:00,18332.45,18335.00,18317.20,18322.05,5244,,,,...,,,,,,,,,,
2172,5/16/2023,15:15:00,18321.75,18329.65,18313.60,18323.90,4879,,,,...,,,,,,,,,,
2173,5/16/2023,15:20:00,18324.20,18326.85,18312.00,18316.30,2905,,,,...,,,,,,,,,,
2174,5/16/2023,15:25:00,18317.00,18328.75,18317.00,18325.00,3407,,,,...,,,,,,,,,,

In [4]:
for index, row in fileload.iterrows():
    if fileload.loc[index,"Time"]=="9:15:00":
        fileload.loc[index,"Range"]=fileload.loc[index,"High"]-fileload.loc[index,"Low"]
        fileload.loc[index,"Range %"]=((fileload.loc[index,"Range"])/(fileload.loc[index,"Open"]))*100
        fileload.loc[index,"0.618"]=0.618*fileload.loc[index,"Range"]
        fileload.loc[index,"1.618"]=1.618*fileload.loc[index,"Range"]
        if fileload.loc[index,"Range %"]<0.4:
            SL_margin=fileload.loc[index,"Range %"]*0.1
            fileload.loc[index,"Buy Level"]=fileload.loc[index,"High"]+(0.618*fileload.loc[index,"Range"])
            fileload.loc[index,"Buy SL"]=fileload.loc[index,"High"]-SL_margin
            fileload.loc[index,"Buy Target"]=fileload.loc[index,"High"]+1.618*fileload.loc[index,"Range"]
            
            fileload.loc[index,"Sell Level"]=fileload.loc[index,"Low"]-(0.618*fileload.loc[index,"Range"])
            fileload.loc[index,"Sell SL"]=fileload.loc[index,"Low"]+SL_margin
            fileload.loc[index,"Sell Target"]=fileload.loc[index,"Low"]-1.618*fileload.loc[index,"Range"]

In [5]:
fileload[0:10]

,Date,Time,Open,High,Low,Close,Volume,Range,Range %,0.618,...,Buy Level,Sell Level,Buy SL,Sell SL,Buy Target,Sell Target,Buy Signal,Sell Signal,Hit Signal Buy,Hit Signal Sell
0,3/31/2023,9:15:00,17271.00,17349.90,17271.00,17342.75,16196,78.9,0.456835,48.7602,...,,,,,,,,,,
1,3/31/2023,9:20:00,17341.00,17368.30,17340.00,17364.15,8413,,,,...,,,,,,,,,,
2,3/31/2023,9:25:00,17362.30,17369.95,17350.20,17363.70,5461,,,,...,,,,,,,,,,
3,3/31/2023,9:30:00,17365.00,17375.00,17348.00,17348.30,5753,,,,...,,,,,,,,,,
4,3/31/2023,9:35:00,17349.65,17362.00,17348.65,17359.55,2436,,,,...,,,,,,,,,,
5,3/31/2023,9:40:00,17359.10,17385.00,17359.10,17373.90,4184,,,,...,,,,,,,,,,
6,3/31/2023,9:45:00,17375.30,17379.00,17368.65,17370.05,2328,,,,...,,,,,,,,,,
7,3/31/2023,9:50:00,17370.05,17377.55,17363.30,17374.00,1646,,,,...,,,,,,,,,,
8,3/31/2023,9:55:00,17374.00,17377.75,17360.20,17360.20,1114,,,,...,,,,,,,,,,
9,3/31/2023,10:00:00,17361.25,17379.95,17358.75,17376.00,2002,,,,...,,,,,,,,,,

In [6]:
a=fileload['Date']
a=pd.to_datetime(a)
unique_dates = a.dt.date.unique().tolist()

In [9]:

# fileload['datetime'] = pd.to_datetime(fileload['Date'] + ' ' + fileload['Time'])
fileload['datetime'] = pd.to_datetime(fileload['Date'] + ' ' + fileload['Time'])

for i in range(len(unique_dates)):
    filtered_df = fileload[fileload['datetime'].dt.date == pd.to_datetime(unique_dates[i]).date()]
    comp_buy=0.0
    comp_sell=0.0
    for index, row in filtered_df.iterrows():
        if filtered_df.loc[index,"Time"]=="9:15:00" and fileload.loc[index,"Range %"]<0.4:
            comp_buy=filtered_df.loc[index,"Buy Level"]
            comp_sell=filtered_df.loc[index,"Sell Level"]
            for n_index, n_row in filtered_df.iterrows():
                #print(filtered_df.loc[n_index,"High"],"   ",comp_buy,"<--High -->Low ", filtered_df.loc[n_index,"Low"],"   ",comp_sell)
                #print(filtered_df.loc[n_index,"Low"],"   ",comp_sell)
                
                if filtered_df.loc[n_index,"High"]>comp_buy:
                    fileload.loc[n_index,"Buy Signal"]=1
                    temp=filtered_df.loc[n_index,"High"]
                    
                    print("crossed high ===========================crossed at index:",n_index)
                    break
            for nw_index, nw_row in filtered_df.iterrows():   
                if filtered_df.loc[nw_index,"Low"]<comp_sell:
                    fileload.loc[nw_index,"Sell Signal"]=-1
                    print("crossed Low===========================crossed at index:",nw_index)
                    break
        break          
                
        '''      
        if filtered_df.loc[index,"High"]>comp_buy:
            #fileload.loc[index,"Buy Signal"]=1
            
            #break;
            print(comp_buy,"  ",filtered_df.loc[index,"High"])
            print("crossed at index:",index)
            
        '''  
        
         
        #print(index)
        
    #print("Date Changed =============================>",index+3)

crossed Low===========================crossed at index: 77
crossed high ===========================crossed at index: 159
crossed high ===========================crossed at index: 234
crossed Low===========================crossed at index: 232
crossed high ===========================crossed at index: 332
crossed high ===========================crossed at index: 376
crossed high ===========================crossed at index: 454
crossed high ===========================crossed at index: 529
crossed Low===========================crossed at index: 544
crossed Low===========================crossed at index: 682
crossed Low===========================crossed at index: 803
crossed high ===========================crossed at index: 826
crossed Low===========================crossed at index: 839
crossed Low===========================crossed at index: 912
crossed high ===========================crossed at index: 1027
crossed Low===========================crossed at index: 978
crossed high ===========================crossed at index: 1075
crossed high ===========================crossed at index: 1149
crossed high ===========================crossed at index: 1203
crossed high ===========================crossed at index: 1344
crossed Low===========================crossed at index: 1276
crossed high ===========================crossed at index: 1353
crossed Low===========================crossed at index: 1480
crossed high ===========================crossed at index: 1516
crossed Low===========================crossed at index: 1607
crossed high ===========================crossed at index: 1653
crossed high ===========================crossed at index: 1731
crossed Low===========================crossed at index: 1775
crossed Low===========================crossed at index: 1803
crossed Low===========================crossed at index: 1877
crossed high ===========================crossed at index: 1988
crossed Low===========================crossed at index: 1951
crossed Low===========================crossed at index: 2102

In [24]:
fileload[1000:2000]

,Date,Time,Open,High,Low,Close,Volume,Range,Range %,0.618,...,Sell Level,Buy SL,Sell SL,Buy Target,Sell Target,Buy Signal,Sell Signal,Hit Signal Buy,Hit Signal Sell,datetime
1000,4/24/2023,11:20:00,17663.40,17667.65,17660.45,17665.15,1044,,,,...,,,,,,,,,,2023-04-24 11:20:00
1001,4/24/2023,11:25:00,17665.15,17666.65,17650.80,17655.00,1114,,,,...,,,,,,,,,,2023-04-24 11:25:00
1002,4/24/2023,11:30:00,17652.90,17657.95,17648.00,17652.80,818,,,,...,,,,,,,,,,2023-04-24 11:30:00
1003,4/24/2023,11:35:00,17655.00,17655.00,17644.15,17646.75,890,,,,...,,,,,,,,,,2023-04-24 11:35:00
1004,4/24/2023,11:40:00,17645.85,17653.70,17640.00,17644.55,1213,,,,...,,,,,,,,,,2023-04-24 11:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,5/12/2023,13:00:00,18333.40,18338.45,18324.50,18324.50,1683,,,,...,,,,,,,,,,2023-05-12 13:00:00
1996,5/12/2023,13:05:00,18324.50,18332.00,18320.15,18331.95,825,,,,...,,,,,,,,,,2023-05-12 13:05:00
1997,5/12/2023,13:10:00,18331.95,18340.00,18323.80,18327.55,2182,,,,...,,,,,,,,,,2023-05-12 13:10:00
1998,5/12/2023,13:15:00,18328.05,18332.65,18323.60,18329.55,1121,,,,...,,,,,,,,,,2023-05-12 13:15:00
1999,5/12/2023,13:20:00,18329.85,18344.70,18329.85,18336.00,2094,,,,...,,,,,,,,,,2023-05-12 13:20:00

In [17]:
b=fileload["Range %"]

In [18]:
b

0       0.456835
1
2
3
4
          ...
2170
2171
2172
2173
2174
Name: Range %, Length: 2175, dtype: object

In [1]:
fileload.drop('datetime', axis=1, inplace=True)
resultExcelFile = pd.ExcelWriter('ResultExcelFile.xlsx')

# converting the csv file to an excel file
fileload.to_excel(resultExcelFile, index=False)

# saving the excel file
resultExcelFile.save()

NameError: name 'fileload' is not defined